@import url('https://fonts.googleapis.com/css2?family=Roboto Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body {
    color: black;
    font-size: 0px;
    font-family: 'Bree Serif', serif;
    width: 99%;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: black!important;
}

.bg-dark {
    background-color: black!important;
}

.border {
    box-shadow: 0px 0px 10px #ff1493;
    border: 2px solid #ff1493!important;
    border-radius: 5px;
    background: transparent;
}

.border:hover {
    box-shadow: 0px 0px 10px #ff1493;
    border: 2px solid #ff1493!important;
}

.table td {
    padding: 0.1rem;
    box-shadow: inset 0px 0px 0px 1px #ff1493;
    border-radius: 2px;
}

.table thead th {
    font-family: 'Bree Serif', serif;
    box-shadow: inset 0px 0px 0px 1.5px #ff1493;
    color: #ff1493;
    padding: 0.25rem;
    border-radius: 5px;
    background: linear-gradient(to bottom, black, #3f3f3f80);
}

.table-hover tbody tr:hover td {
    background: #3f3f3f80;
    box-shadow: inset 0px 0px 0px 1px #ff1493;
    border-radius: 2px;
}

.table-hover tbody tr:hover td>* {
}

.table>tbody>tr>* {
    color:#fff;
    vertical-align:middle;
}

.form-control {
    background:0 0!important;
    color:#fff!important;
    border-radius:0;
}

.form-control::placeholder {
    color:#fff;
    opacity:1;
}

.form-group {
    margin-top: .2rem;
    margin-bottom: .2rem;
}

li {
    font-size:large!important;
    color: #ff1493!important;
    list-style: inherit!important;
}

a {
    color: #ffffff;
    text-decoration: none!important;
}

a:hover {
    text-decoration: none!important;
    color: #ff1493;
    animation: kedip 1s linear infinite;
}

h5 {
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    color: #ff1493!important;
    padding: 2px;
}

textarea {
    width: 97%;
    font-size: medium!important;
    font-family: inherit;
    height: 44vh;
    padding-left: 5px;
}

button, input {
    border: 2px solid #ff1493;
    border-radius: 5px;
    font-size: 15px;
    color:white;
    line-height: normal;
    font-family: inherit;
}

button, input:hover {
    border: 2px solid #ff1493;
    cursor: pointer;
}

.ohct {
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    border: 2px solid #ff1493;
    border-radius: 5px;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;
}

.ohct:hover {
    border: 2px solid #ff1493;
    color: #ff1493!important;
}

.combet {
    color: white;
}

.combet:hover {
    color: #ff1493;
}

.p-1 {
    padding: 4px;
}

::selection {
    color: black;
    background: silver;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    color: #ff1493;
}

.fa:hover {
    border: 2px solid #ff1493;
}

.text-light {
    color: #f8f9fa!important;
    font-size: large!important;
}

.kedip {
    animation: kedip 1s linear infinite;
}

@keyframes kedip {
    0% {
        color: #ff1493;
    }
    50% {
        color: white;
    }
    100% {
        color: #ff1493;
    }
}

@keyframes rainbowBorder {
            0% {
                border-image: linear-gradient(to right, #ff1493, magenta) 1;
            }
            14% {
                border-image: linear-gradient(to right, magenta, lime) 1;
            }
            28% {
                border-image: linear-gradient(to right, lime, yellow) 1;
            }
            42% {
                border-image: linear-gradient(to right, yellow, orange) 1;
            }
            57% {
                border-image: linear-gradient(to right, orange, #ff1493) 1;
            }
            71% {
                border-image: linear-gradient(to right, #ff1493, pink) 1;
            }
            85% {
                border-image: linear-gradient(to right, pink, #ff1493) 1;
            }
            100% {
                border-image: linear-gradient(to right, #ff1493, magenta) 1;
            }
        }

.rainbow-border {
    border: 2px solid #ff1493;
    border-radius: 5px !important;
    animation: rainbowBorder 2s linear infinite;
}
        @keyframes rainbowText {
            0% {
                color: #ff1493;
            }
            14% {
                color: magenta;
            }
            28% {
                color: lime;
            }
            42% {
                color: yellow;
            }
            57% {
                color: orange;
            }
            71% {
                color: #ff1493;
            }
            85% {
                color: pink;
            }
            100% {
                color: #ff1493;
            }
        }
.rainbow-text {
            animation: rainbowText 2s infinite;
            font-weight: bold;
        }